[tool.poetry]
name = "nonebot-plugin-pixivbot"
version = "1.1.2-post1"
description = "Nonebot Plugin PixivBot"
authors = ["ssttkkl <huang.wen.long@hotmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/ssttkkl/nonebot-plugin-pixivbot"
packages = [
    { include = "nonebot_plugin_pixivbot", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
nonebot2 = "^2.0.0b4"
nonebot_plugin_apscheduler = "^0.1.3"
PixivPy-Async = "^1.2.14"
Pillow = "^9.2.0"
motor = "^3.0.0"
numpy = "^1.23.1"
lazy = "^1.4"
aiohttp-socks = { version = "^0.7.1", optional = true }
aioreactive = "^0.16.0"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
pytest = "^7.1.2"
twine = "^4.0.1"

[tool.poetry.extras]
socks = ["aiohttp-socks"]

#[[tool.poetry.source]]
#name = "tsinghua"
#url = "https://pypi.tuna.tsinghua.edu.cn/simple/"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
